<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Basket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="cartItems.length > 0">
  
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="item.image_url" />
      </ion-thumbnail>
      <ion-label>
        <h5>{{ item.title }}</h5>
        <ion-button (click)="removeItemFromBasket(item)">Remove</ion-button>
        <ion-button (click)="decrementQuantity(item)">-</ion-button>
        <span>{{ item.quantity }}</span>
        <ion-button (click)="incrementQuantity(item)">+</ion-button>
      </ion-label>
      <ion-button (click)="personalize()">Personalize Item</ion-button>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>Bill Details</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Items Total (Excluding Delivery)</ion-col>
      <ion-col><strong>R{{calculateTotalPrice()}}</strong></ion-col>
      <ion-button (click)="makepayment()">Checkout</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="cartItems.length == 0">
  <div class="col-12 text-center" style="padding-top: 3cm; margin-left: 2.5cm;">
    <p>Your basket is empty.</p>
    <ion-button (click)="shopall()">Return to shop</ion-button>
  </div>
</ion-content>


