img{
    width: 150px;
    height: 150px;
}

#content{
    // margin-left: 0.25cm;
    // margin-left: 0.25cm;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
