<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Stock Take</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">stock-take</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Product Name</ion-col>
        <ion-col style="font-weight: bold;">Product Price</ion-col>
        <ion-col style="font-weight: bold;">Product Size</ion-col>
        <ion-col style="font-weight: bold;">Product Type</ion-col>
        <ion-col style="font-weight: bold;">Product Colour</ion-col>
        <ion-col style="font-weight: bold;">Product Image</ion-col>
        <ion-col style="font-weight: bold;">Old Quantity</ion-col>
        <ion-col style="font-weight: bold;">Date Added</ion-col>
        <ion-col style="font-weight: bold;">Inventory Comments</ion-col>
        <ion-col style="font-weight: bold;">Enter Current Quantity</ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of Products">
        <ion-col>{{item.stock_Item_Name}}</ion-col>
        <ion-col>{{item.stock_Item_Price}}</ion-col>
        <ion-col>{{item.stock_Item_Size}}</ion-col>
        <ion-col>{{item.stockTypeName}}</ion-col>
        <ion-col>{{item.stockColourName}}</ion-col>
        <ion-col><img src='data:image/png;base64,{{item.stockImageFile}}'></ion-col>
        <ion-col>{{item.stock_Item_Quantity}}</ion-col>
        <ion-col>{{item.inventory_Date}}</ion-col>
        <ion-col>{{item.inventory_Comments}}</ion-col>        
        <ion-col><ion-input value="{{item.stock_Item_Quantity}}" placeholder=""> </ion-input></ion-col>
        <ion-col> <ion-button onclick="UpdateQuantity()">Update</ion-button> </ion-col>
        <ion-col> <ion-button onclick="Writeoff()">Write-off</ion-button> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-content>

