<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Stock Take</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">stock-take</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row >
        <ion-col *ngFor="let item of textprice">
          Current Text Personlisation Price: {{item.text_Price_Amount}}
          <ion-button [routerLink]="['/tabs/update-textprice', item.text_Price_ID]" >Update Text Price</ion-button>    
        </ion-col>
        <ion-col *ngFor="let item of imageprice">
          Current Image Personlisation Price: {{item.image_Price_Amount}}    
          <ion-button [routerLink]="['/tabs/update-imageprice', item.image_Price_ID]" >Update Image Price</ion-button>    
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button id="addStockmodal">Add New Stock Item</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Product Name</ion-col>
        <ion-col style="font-weight: bold;">Product Price</ion-col>
        <ion-col style="font-weight: bold;">Product Size</ion-col>
        <ion-col style="font-weight: bold;">Product Type</ion-col>
        <ion-col style="font-weight: bold;">Product Colour</ion-col>
        <ion-col style="font-weight: bold;">Product Image</ion-col>
        <ion-col style="font-weight: bold;">Old Quantity</ion-col>
        <ion-col style="font-weight: bold;">Date Added</ion-col>
        <ion-col style="font-weight: bold;">Inventory Comments</ion-col>
        <ion-col style="font-weight: bold;">Current Quantity</ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of Products">
        <ion-col>{{item.stock_Item_Name}}</ion-col>
        <ion-col>{{item.stock_Item_Price}}</ion-col>
        <ion-col>{{item.stock_Item_Size}}</ion-col>
        <ion-col>{{item.stockTypeName}}</ion-col>
        <ion-col>{{item.stockColourName}}</ion-col>
        <ion-col><img src='data:image/png;base64,{{item.stockImageFile}}'></ion-col>
        <ion-col>{{item.stock_Item_Quantity}}</ion-col>
        <ion-col>{{item.inventory_Date}}</ion-col>
        <ion-col>{{item.inventory_Comments}}</ion-col>        
        <ion-col><ion-input value="{{item.stock_Item_Quantity}}" placeholder=""> </ion-input></ion-col>
        <ion-col> <ion-button onclick="UpdateQuantity()">Update Quantity</ion-button> </ion-col>
        <ion-col> <ion-button onclick="Writeoff()">Write-off</ion-button> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-content>

<ion-footer> 
  <ion-modal trigger="addStockmodal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="canceladdmodal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Stock Item Colour</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmaddmodal()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="AddStockForm">
      
          <ion-item>
            <ion-label position="stacked">Stock Item Name</ion-label><br>
            <ion-input type="text" formControlName="Stock_Item_Name" placeholder="" required></ion-input>
          </ion-item> 
      
          <ion-item>
            <ion-label position="stacked">Stock Item Price</ion-label><br>
            <ion-input type="text" formControlName="Stock_Item_Price" placeholder="" required></ion-input>
          </ion-item> 
      
          <ion-item>
            <ion-label position="stacked">Stock Item Size</ion-label><br>
            <ion-input type="text" formControlName="Stock_Item_Size" placeholder="" required></ion-input>
          </ion-item>  
      
          <!-- Stock Type -->
          <ion-item>
            <ion-label position="stacked">Stock Item Type</ion-label><br>
            <ion-select placeholder="Select a Stock Type" formControlName="Stock_Type_ID">
              <div slot="label">Stock Types <ion-text color="danger">(Required)</ion-text></div>
              <ion-select-option *ngFor="let types of stocktypes" value="{{types.stock_Type_ID}}" >
                {{types.stock_Type_Name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
    
          <!-- Stock Colour -->
          <ion-item>
            <ion-label position="stacked">Stock Item Colour</ion-label><br>
            <ion-select placeholder="Select a Stock Item Colour" formControlName="Stock_Item_Colour_ID">
              <div slot="label">Stock Item Colour <ion-text color="danger">(Required)</ion-text></div>
              <ion-select-option *ngFor="let colours of stockitemcolours" value="{{colours.stock_Item_Colour_ID}}" >
                {{colours.stock_Item_Colour_Name}}
              </ion-select-option>
            </ion-select>
          </ion-item> 
          
          <!-- Stock Image -->
          <ion-item>
            <ion-label position="stacked">Stock Item Image</ion-label><br>
            <ion-select placeholder="Select a Stock Item Image" formControlName="Stock_Image_ID">
              <div slot="label">Stock Item Image<ion-text color="danger">(Required)</ion-text></div>
              <ion-select-option *ngFor="let image of stockimages" value="{{image.stock_Image_ID}}" >
                {{image.stock_Image_Name}}
                <!-- <img src='data:image/png;base64,{{image.stock_Image_Name}}'> -->
              </ion-select-option>
            </ion-select>
          </ion-item>          
          
          <ion-item>
            <ion-label position="stacked">Inventory_Comments</ion-label><br>
            <ion-input type="text" formControlName="Inventory_Comments" placeholder="" ></ion-input>
          </ion-item> 
      
          <ion-item>
            <ion-label position="stacked">Stock Item Quantity</ion-label><br>
            <ion-input type="number" formControlName="Stock_Item_Quantity" required></ion-input>
          </ion-item>
        </form> 
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-footer>