<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>IPKP Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profiles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="routeAudit()">View Audit Trail</ion-button>
  <ion-button (click)="routeEmployees()">Manage Employees</ion-button>
 <!----<ion-item>
    <ion-label position="stacked">User Role</ion-label><br>
    <ion-select placeholder="Select a User Role" formControlName="UserId">
      <div slot="label">User Type<ion-text color="danger">(Required)</ion-text></div>
      <ion-select-option *ngFor="let user" value ="{{user.user_ID}}">
        {{user.user_Role}}
      </ion-select-option>
    </ion-select>
  </ion-item>-->

  <div id="userData">    
    <ion-grid>
     
      <ion-col>
        <!-- <ion-button (click)="generateAdminPDF()">Download Admin PDF Report</ion-button> -->
         <form [formGroup]="SearchForm">      
        <ion-item>
          <ion-input type="text" formControlName="name" placeholder="Admin Name" required></ion-input>
          <ion-button (click)="searchAdmin()">Search</ion-button>
        </ion-item> 
      </form>
        <ion-row><h2>Admins</h2></ion-row>
        <ion-row>
          <ion-col style="font-weight: bold;">Name</ion-col>
          <ion-col style="font-weight: bold;">Email</ion-col>
          <ion-col style="font-weight: bold;">Username</ion-col>
          <ion-col style="font-weight: bold;">Cell Number</ion-col>
          <ion-col style="font-weight: bold;">Date Registered</ion-col>
        </ion-row>
        <ion-row *ngFor="let a of searchedAdmin">
          <ion-col>{{a.firstName}} {{a.surname}}</ion-col>
          <ion-col>{{a.email}}</ion-col>
          <ion-col>{{a.username}}</ion-col>
          <ion-col>{{a.cell_Number}}</ion-col>
          <ion-col>{{a.date_Registered| date: 'yyyy-MM-dd'}}</ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <!-- <ion-button (click)="generateEmployeePDF()">Download Employee PDF Report</ion-button> -->
        <form [formGroup]="SearchForm">      
          <ion-item>
            <ion-input type="text" formControlName="name" placeholder="Employee Name" required></ion-input>
            <ion-button (click)="searchEmployee()">Search</ion-button>
          </ion-item> 
        </form>
        <ion-row><h2>Employees</h2>  </ion-row>
        <ion-row>
          <ion-col style="font-weight: bold;">Name</ion-col>
          <ion-col style="font-weight: bold;">Email</ion-col>
          <ion-col style="font-weight: bold;">Username</ion-col>
          <ion-col style="font-weight: bold;">Cell Number</ion-col>
          <ion-col style="font-weight: bold;">Date Registered</ion-col>
        </ion-row>
        <ion-row *ngFor="let e of searchedEmployee">
          <ion-col>{{e.firstName}} {{e.surname}}</ion-col>
          <ion-col>{{e.email}}</ion-col>
          <ion-col>{{e.username}}</ion-col>
          <ion-col>{{e.cell_Number}}</ion-col>
          <ion-col>{{e.date_Registered| date: 'yyyy-MM-dd'}}</ion-col>
        </ion-row>
      </ion-col>
      
      <ion-col>
        <!-- <ion-button (click)="generateCustomerPDF()">Download Customer PDF Report</ion-button> -->
        <form [formGroup]="SearchForm">      
          <ion-item>
            <ion-input type="text" formControlName="name" placeholder="Customer Name" required></ion-input>
            <ion-button (click)="searchCustomer()">Search</ion-button>
          </ion-item> 
        </form>
        <ion-row><h2>Customers</h2></ion-row>
        <ion-row>
          <ion-col style="font-weight: bold;">Name</ion-col>
          <ion-col style="font-weight: bold;">Email</ion-col>
          <ion-col style="font-weight: bold;">Username</ion-col>
          <ion-col style="font-weight: bold;">Cell Number</ion-col>
          <ion-col style="font-weight: bold;">Date Registered</ion-col>
        </ion-row>
        <ion-row *ngFor="let c of searchedCustomer">
          <ion-col>{{c.firstName}} {{c.surname}}</ion-col>
          <ion-col>{{c.email}}</ion-col>
          <ion-col>{{c.username}}</ion-col>
          <ion-col>{{c.cell_Number}}</ion-col>
          <ion-col>{{c.date_Registered| date: 'yyyy-MM-dd'}}</ion-col>
        </ion-row>
      </ion-col>

    </ion-grid>
  </div>
  
</ion-content>
