<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>IPKP Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profiles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="content">
    <ion-button>Manage Employees</ion-button>
    <ion-grid>
      <ion-col>
        <ion-row> Admins </ion-row>
        <ion-row>
          <ion-col style="font-weight: bold;">Name</ion-col>
          <ion-col style="font-weight: bold;">Email</ion-col>
          <ion-col style="font-weight: bold;">Username</ion-col>
          <ion-col style="font-weight: bold;">Cell Number</ion-col>
        </ion-row>
          <!-- <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Email</ion-col>
          <ion-col>Username</ion-col>
          <ion-col>Cell Number</ion-col>
        </ion-row> -->
      </ion-col>
      <ion-col>
        <ion-row> Employees </ion-row>
        <ion-row>
          <ion-col style="font-weight: bold;">Name</ion-col>
          <ion-col style="font-weight: bold;">Email</ion-col>
          <ion-col style="font-weight: bold;">Username</ion-col>
          <ion-col style="font-weight: bold;">Cell Number</ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row> Customers </ion-row>
        <ion-row>
          <ion-col style="font-weight: bold;">Name</ion-col>
          <ion-col style="font-weight: bold;">Email</ion-col>
          <ion-col style="font-weight: bold;">Username</ion-col>
          <ion-col style="font-weight: bold;">Cell Number</ion-col>
        </ion-row>
      </ion-col>

    </ion-grid>
  </ion-content>
  
</ion-content>
