<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your Experience Rating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
		<ion-button id="addProdRatingmodal">Add Experience Rating</ion-button>
		<!-- <ion-searchbar [(ngModel)]="filterTerm" (ionInput)="updateSearchResults()"></ion-searchbar>                     -->
		<ion-grid>
			<ion-row>
				<ion-col>
					 Experience Star Rating
				</ion-col>
				<ion-col> Experience Rating Description</ion-col>
				<ion-col></ion-col>
        <ion-col></ion-col>
			</ion-row>
			<ion-row *ngFor="let item of expRatings">
        <ion-col>{{item.experience_Star_Rating}}</ion-col>
				<ion-col>{{item.experience_Rating_Comments}}</ion-col>
				<!-- <ion-col> <ion-button (click)="updateExpRating(item.experience_Rating_ID)">Update Experience Rating</ion-button></ion-col>
				<ion-col><ion-button (click)="DeleteExperienceRating(item.experience_Rating_ID)">Delete Experinec Rating</ion-button></ion-col> -->
			</ion-row>
		</ion-grid>
	</ion-card-content>
  
 
  
</ion-content>

<ion-footer>
	<ion-modal trigger="addProdRatingmodal" (willDismiss)="onWillDismiss($event)">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-buttons slot="start">
						<ion-button (click)="canceladdmodal()">Cancel</ion-button>
					</ion-buttons>
					<ion-title id="addmodal">Add Experience rating</ion-title>
					<ion-buttons slot="end">
						<ion-button (click)="confirmaddmodal()" [strong]="true">Confirm</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content class="ion-padding">
				<form [formGroup]="AddForm">
					<ion-item>
						<ion-label position="stacked">
							<h3>5 Star Rating</h3>
						</ion-label><br>
              <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color':getColor(num)}" formControlName="prodRating"></ion-icon>
					</ion-item>
					<ion-item>
            <ion-label position="stacked">
							<h3>Comment</h3>
						</ion-label><br>
						<ion-input type="text" formControlName="comment" placeholder="" required></ion-input>
					</ion-item>
				</form>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-footer>
