<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Previous Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-button (click)="ProductRating()">Product Rating</ion-button>
  <ion-card-content>
		<ion-grid>
			<ion-row>
				<ion-col style="font-weight: bold;">Product</ion-col>
				<ion-col style="font-weight: bold;">Quantity</ion-col>
				<ion-col style="font-weight: bold;">Date Completed</ion-col>
				<!-- <ion-col style="font-weight: bold;"></ion-col> -->
			</ion-row>
			<ion-row *ngFor="let item of orders">
				<ion-col>{{item.stock_Item_Name}}</ion-col>
				<ion-col>{{item.order_Line_Item_Quantity}}</ion-col>
				<ion-col>{{item.order_Completed_Date}}</ion-col>
				<!-- <ion-col><ion-button (click)="AddRating(item.stock_Item_ID,true, item.stock_Item_Name)">Add Product Rating</ion-button></ion-col> -->
			</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-content>
