<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admin-profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="content">
    <ion-button onclick="Logout()">Log out</ion-button>
    <!-- <ion-button>Get user</ion-button> -->
    <ion-label>{{username}}</ion-label>
  </ion-content>
  
</ion-content>
