<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="PasswordForm" (ngSubmit)="changePassword()">
    <ion-item> 
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" formControlName="OldPassword" placeholder=""></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="Password" placeholder=""
        [class.is-invalid]="f['Password'].invalid && f['Password'].touched" required></ion-input><!--[(ngModel)]="newPassword"-->
    </ion-item>
    <div class="text-center" *ngIf="f['Password'].invalid && f['Password'].touched">
      <p style="color: crimson;" class="small mt-1" *ngIf="f['Password'].errors?.['required']">
        Password is required!</p>
      <p style="color: crimson;" class="small mt-1" *ngIf="f['Password'].errors?.['pattern']">
        Password must contain minimum of 8 characters,at least one uppercase letter,at least one
        lowercase letter
        ,at least one number and at least one special character</p>
    </div>
  
    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input type="password" formControlName="NewPassword" placeholder=""
        [class.is-invalid]="f['NewPassword'].invalid && f['NewPassword'].touched" required></ion-input><!--[(ngModel)]="confirmNewPassword"-->
    </ion-item>
    <div class="text-center" *ngIf="f['NewPassword'].invalid && f['NewPassword'].touched">
      <p style="color: crimson;" class="small mt-1" *ngIf="f['NewPassword'].errors?.['required']">
          Password is required!</p>
      <p style="color: crimson;" class="small mt-1"
          *ngIf="f['NewPassword'].errors?.['matchpassword']">Password don't match</p>
  </div>
    <ion-button expand="full" type="submit" [disabled]="PasswordForm.invalid" (click)="changePassword()">Change Password</ion-button>
  </form>
</ion-content>
