ion-label{
    font-size: large;
}

ion-tab-bar{
    --ion-background-color: #FEE1E8;
    --toolbar-text-color: black; 
}
ion-tabs{
    //--ion-background-color: #FEE1E8;
    --toolbar-text-color: black;
}