<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop-all">
      <ion-label>Shop all</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact-us">
      <ion-label>Contact Us</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="faq">
      <ion-label>FAQ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="basket">
      <ion-icon name="cart-outline"></ion-icon>
      <!--<ion-badge id="counter">0</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button tab="login" >
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
