<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Delivery Address</ion-title>
    <ion-button slot="end" (click)="DeliveryTip()">Help</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    
    <form [formGroup]="AddDelAddressForm"> 
      <ion-item>
        <ion-label position="stacked">Delivery Company</ion-label><br>
        <ion-select placeholder="Select a Delivery Company" formControlName="deliveryCompanyID">
          <div slot="label">Delivery Company <ion-text color="danger">(Required)</ion-text></div>
          <ion-select-option *ngFor="let company of deliverycompanies" value ="{{company.delivery_Company_ID}}">
            {{company.delivery_Company_Name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Street Name</ion-label><br>
        <ion-input  labelPlacement="floating" placeholder="Example: Flower Street" formControlName="streetName"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Street Number</ion-label><br>
        <ion-input  type="number" labelPlacement="floating" placeholder="00" formControlName="streetNumber" max="99999"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Dwelling Type</ion-label><br>
        <ion-select formControlName="dwellingtype" interface="alert" placeholder="Example: House">
          <ion-select-option *ngFor="let dwellingtype of dwellingType" [value]="dwellingtype">{{ dwellingtype }}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">City</ion-label><br>
        <ion-input type="text" labelPlacement="floating" placeholder="Example: Pretoria" formControlName="city"
        [class.is-invalid]="f['city'].invalid && f['city'].touched"></ion-input>
      </ion-item>
      <div class="text-center" *ngIf="f['city'].invalid && f['city'].touched">
        <p style="color: crimson;" class="small mt-1" *ngIf="f['city'].errors?.['required']">City is
          required!</p>
        <p style="color: crimson;" class="small mt-1" *ngIf="f['city'].errors?.['pattern']">
          City should not include special characters.</p>
      </div>
  
      <ion-item>
        <ion-label position="stacked">Province</ion-label><br>
        <ion-select formControlName="province" interface="alert" placeholder="Example: Gauteng">
          <ion-select-option *ngFor="let province of validProvinces" [value]="province">{{ province }}</ion-select-option>
        </ion-select>

      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Area Code</ion-label><br>
        <ion-input  type="text" labelPlacement="floating" placeholder="0002" formControlName="areaCode"
        [class.is-invalid]="f['areaCode'].invalid && f['areaCode'].touched"  min="4"
        max="4"></ion-input>
      </ion-item>
      <div class="text-center" *ngIf="f['areaCode'].invalid && f['areaCode'].touched">
        <p style="color: crimson;" class="small mt-1" *ngIf="f['areaCode'].errors?.['required']">Area code is
          required!</p>
        <p style="color: crimson;" class="small mt-1" *ngIf="f['areaCode'].hasError('minLength')">
          Code should be 4 numbers only.</p>
      </div>
      
      <ion-button (click)="AddDeliveryAddress()" [disabled]="AddDelAddressForm.invalid">Confirm Address</ion-button>
     <!--checkOut()-->
  </form>
  
  </div>
    
</ion-content>
