<ion-header [translucent]="true">  
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="stocktypes()">Stock Types</ion-button>
      <ion-button (click)="stockcoloursnav()">Stock Colours</ion-button>
      <ion-button (click)="stockimagesnav()">Stock Images</ion-button>
      <ion-button (click)="stocktakenav()">Preform Stock Take</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">   

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inventory</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button (click)="openPDF()" >Download Inventory PDF</ion-button>
  <!-- <ion-grid>
    <ion-row >
      <ion-col *ngFor="let item of textprice">
        Current Text Personlisation Price: {{item.text_Price_Amount}}
      </ion-col>
      <ion-col *ngFor="let item of imageprice">
        Current Image Personlisation Price: {{item.image_Price_Amount}}        
      </ion-col>
    </ion-row>
  </ion-grid> -->
  
  <div id="htmlData">
    <h2>Inventory</h2>
    <form [formGroup]="SearchStockForm">      
      <ion-item>
        <ion-label>Search by date</ion-label>
        <ion-input type="date" formControlName="enddate" placeholder="End date" required></ion-input> 
        <ion-input type="date" formControlName="startdate" placeholder="Start date" required></ion-input>
        <ion-button (click)="search()">Search</ion-button>
      </ion-item> 
    </form>

    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Product Name</ion-col>
        <ion-col style="font-weight: bold;">Product Price</ion-col>
        <ion-col style="font-weight: bold;">Product Size</ion-col>
        <ion-col style="font-weight: bold;">Product Type</ion-col>
        <ion-col style="font-weight: bold;">Product Colour</ion-col>
        <ion-col style="font-weight: bold;">Product Image</ion-col>
        <ion-col style="font-weight: bold;">Quantity In Stock</ion-col>
        <ion-col style="font-weight: bold;">Date Added</ion-col>
        <ion-col style="font-weight: bold;">Inventory Comments</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of Products" class="cell-class">
        <ion-col>{{item.stock_Item_Name}}</ion-col>
        <ion-col>{{item.stock_Item_Price}}</ion-col>
        <ion-col>{{item.stock_Item_Size}}</ion-col>
        <ion-col>{{item.stockTypeName}}</ion-col>
        <ion-col>{{item.stockColourName}}</ion-col>
        <ion-col><img src='data:image/png;base64,{{item.stockImageFile}}'></ion-col>
        <ion-col>{{item.stock_Item_Quantity}}</ion-col>
        <ion-col>{{item.inventory_Date}}</ion-col>
        <ion-col>{{item.inventory_Comments}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
