<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Forgot Password</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="ForgotForm" (ngSubmit)="CheckEmail()">
  <div class="form-container" style="text-align: center;">
    <h2>Please enter your username:</h2>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="Username" placeholder="user"></ion-input>
      <!-- [(ngModel)]="userIdentifier"-->
    </ion-item> 
    <ion-button type="submit" [disabled]="ForgotForm.invalid">Confirm</ion-button>
  </div>
  </form>
  <br>
  <img src="/assets/forgot.PNG" alt="sforgot icon" class="center" style="width: 50%; height: 70%;" />
  <!-- Add the loading spinner div here -->
  <div *ngIf="isLoading" class="overlay">
    <div class="loading-popup">
      <div class="spinner"></div>
      <p>Verifying...</p>
    </div>
  </div>
</ion-content>
