<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgot-password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-container" style="text-align: center;">
    <h2>Please enter your email address:</h2>
    <ion-item>
      <ion-label position="stacked">Email adress</ion-label>
      <ion-input name="email"></ion-input>
    </ion-item> 
    <ion-button>Confirm</ion-button>
  </div>
    
</ion-content>
