<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>IPKP Top 10 Best Sellers</ion-title>
    <ion-button slot="end" (click)=" HelpAlert()">Help</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Best Sellers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-breadcrumbs>
    <ion-breadcrumb (click)="salesNav()" style="cursor:pointer;">Sales</ion-breadcrumb>
    <ion-breadcrumb>Best Sellers</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-button id="addBestSellermodal">Add a Product to Best Sellers</ion-button>
  <ion-content *ngIf="bestsellers.length == 0">
    <div class="col-12 text-center" style="padding-top: 3cm; margin-left: 2.5cm;">
      <p>No Current Best Sellers</p>
    </div>
    <div *ngIf="isLoading" class="overlay">
      <div class="loading-popup">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>
    </div>
  </ion-content>
    
  <ion-content id="content" > 
    <!-- *ngIf="bestsellers.length > 0" -->
    <ion-grid>
      <ion-row style="border-bottom-style: solid;">
        <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Product Name</ion-col>
        <!-- <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Product Price</ion-col> -->
        <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Product Size</ion-col>
        <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Product Type</ion-col>
        <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Product Colour</ion-col>
        <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Product Image</ion-col>
        <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Quantity Sold</ion-col>
        <!-- <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="font-weight: bold; text-align: center;">Inventory Comments</ion-col> -->
        <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" ></ion-col>
      </ion-row>

      <ion-row *ngFor="let item of bestsellers">
          <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;">{{item.stock_Item_Name}}</ion-col>
          <!-- <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;">R {{item.stock_Item_Price}}.00</ion-col> -->
          <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;">{{item.stock_Item_Size}}</ion-col>
          <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;">{{item.stock_Type_Name}}</ion-col>
          <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;">{{item.stock_Colour_Name}}</ion-col>
          <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;"><img src='data:image/png;base64,{{item.stock_Image_File}}'></ion-col>
          <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;">{{item.stock_Sale_Quantity}}</ion-col>
          <!-- <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;">{{item.inventory_Comments}}</ion-col> -->
          <ion-col sizeLg="1.3" sizeMd="2.6" sizeXs="2.6" style="text-align: center;"><ion-button (click)="RemoveFromBestSellers(item.bestSeller_ID)">Remove From Best Sellers</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="isLoading" class="overlay">
      <div class="loading-popup">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>
    </div>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-modal trigger="addBestSellermodal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="canceladdmodal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Select Stock Item </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmaddmodal()"  [strong]="true">Confirm</ion-button>
            <!-- [disabled]="AddBestSellerForm.invalid" -->
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">      

        <form [formGroup]="AddBestSellerForm">   
          <ion-item>
            <ion-select placeholder="Select a Stock Item" formControlName="Stock_Item_ID">
              <!-- <div slot="label">Product <ion-text color="danger">(Required)</ion-text></div> -->
              <ion-select-option *ngFor="let items of Products" value="{{items.stock_Item_ID}}" >
                {{items.stock_Item_Name}} - Sales: {{items.stock_Sale_Quantity}}
              </ion-select-option>
            </ion-select>
          </ion-item>                   
        </form><br>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-footer>

