
ion-label{
    font-size: large;
}

ion-tab-bar{
    --ion-background-color: #FEE1E8;
    --toolbar-text-color: black; 
}
.logo-tab-button {
    width: 32px;
    //height: 32px;
    background-image: url('../../assets/Logo.png'); /* Update the path */
    background-size: cover;
    background-repeat: no-repeat;
  }