<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Deliveries in Progress</ion-title>
  </ion-toolbar>   
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"><!-- collapse="condense" -->
    <ion-toolbar>    
      <!-- <ion-buttons>
        <ion-tab-button (click)="Routedeliverycompanies()">Delivery Companies</ion-tab-button>
        <ion-tab-button (click)="RoutePrevDeliveries()">Past Deliveries</ion-tab-button>        
        <ion-tab-button (click)="openPDF()"> Deliveries Report</ion-tab-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-button (click)="RoutePrevDeliveries()">View Previous Deliveries</ion-button>  
    <ion-button (click)="Routedeliverycompanies()">Manage Delivery Companies</ion-button>  
    
    <ion-button slot="end" (click)="openPDF()">Download Report pdf</ion-button>
  </ion-toolbar>
  

  <ion-content *ngIf="deliveries.length == 0">
    <div class="col-12 text-center" style="padding-top: 3cm; margin-left: 2.5cm;">
      <p style="text-align: center;">No Deliveries In Progress</p><br>
      <img src="/assets/no-results.png" alt="empty icon" class="center"  id="icon" />
    </div>
  </ion-content>
  
  <ion-content id="htmlData" *ngIf="deliveries.length > 0">   
    <ion-searchbar [(ngModel)]="searchValue"  (ionInput)="updateSearchResults()" ></ion-searchbar>               
    <ion-grid>
      <ion-row>
        <!-- <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;"> Order ID </ion-col> -->
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;"> Customer </ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;">Delivery Address</ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;">Delivery Company</ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;">Delivery Price</ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;"> Date Requested </ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;"></ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="font-weight: bold; text-align: center;"></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of deliveries">
        <!-- <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"> {{item.order_Line_Item_ID}} </ion-col> -->
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"> {{item.customer_UserName}} </ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"> {{item.streetNumber}} {{item.streetName}} <br> {{item.city}}  {{item.province}} <br> {{item.areaCode}}</ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"> {{item.delivery_Company_Name}}</ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"> {{item.delivery_Price}}</ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"> {{item.order_Request_Date | date: 'yyyy-MM-dd'}} </ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"><ion-button (click)="ReceiveDelivery(item.delivery_ID, item.order_Line_Item_ID, item.stock_Item_ID, item.customer_ID, item.order_Line_Item_Quantity)">Delivered</ion-button></ion-col>
        <ion-col sizeLg="1.5" sizeMd="3" sizeXs="3" style="text-align: center;"><ion-button (click)="FailedDelivery(item.delivery_ID, item.order_Line_Item_ID, item.stock_Item_ID, item.customer_ID, item.order_Line_Item_Quantity)">Failed</ion-button></ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-content>
