<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-button slot="end" (click)="SuccessPaymentTip()">Help</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="animation-container" *ngIf="showAnimation">
    <ion-icon name="checkmark-circle-outline" class="check-icon"></ion-icon>
    <p class="success-text">Payment Successful</p>
    <p>Thank you for your purchase. Your payment has been successfully processed. </p>
    <ion-button expand="full" (click)="redirectToShopping()">Go to Shopping</ion-button>
  </div>
</ion-content>
