.center {
    margin: auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    text-align: center;
  }

  .background{
    background-color: rgb(224, 211, 219);
  }