<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>clothing</ion-title> -->
    <ion-buttons slot="start">
      <ion-button> Shop All </ion-button>
      <ion-button> Let's Get Dressed </ion-button>
      <ion-button> Let's Get Drinking </ion-button>
      <ion-button> Let's Get Working </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-content>
