<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Let's Get Clothed</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="shopall()"> Shop All </ion-button>
      <ion-button (click)="drinking()"> Let's Get Drinking </ion-button>
      <ion-button (click)="stationary()"> Let's Get Working </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-row>
    <ion-col>1 Random clothing</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
    <ion-col>4</ion-col>
    <ion-col>5</ion-col>
    <ion-col>6</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>7</ion-col>
    <ion-col>8</ion-col>
    <ion-col>9</ion-col>
    <ion-col>10</ion-col>
    <ion-col>11</ion-col>
    <ion-col>12</ion-col>
  </ion-row>
</ion-content>
