<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Product Trends Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sales</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
  </div> -->
  <ion-button (click)="prodReportNav()" >View Product Trends</ion-button>
  <ion-button (click)="openPDF()">Download Sales Report</ion-button>
  <ion-button (click)="prevOrdersNav()">View All Previous Orders</ion-button>
  <div id="htmlData">
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;"> Customer </ion-col>
        <ion-col style="font-weight: bold;"> Amount Paid </ion-col>
        <ion-col style="font-weight: bold;"> Quantity </ion-col>
        <ion-col style="font-weight: bold;"> Date Paid </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of sales">
        <ion-col> {{item.customer_UserName}} </ion-col>
        <ion-col> {{item.payment_Amount}} </ion-col>
        <ion-col> {{item.sale_Quantity}} </ion-col>
        <ion-col> {{item.sale_Date}} </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
