<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sales Per Product Type Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sales</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="prodReportNav()" >View Product Trends Graph</ion-button>
  <ion-button (click)="openPDF()">Download Sales Report</ion-button>
  <ion-button (click)="RefundPolicyRoute()">Refund Policy</ion-button>
  <!-- <ion-button (click)="RefundsRoute()">Refunds</ion-button>  -->
  <!-- <ion-button (click)="bestellersnav()">Best Sellers</ion-button>  -->

  <!-- Control break -->
  <div>
    <ion-grid>
      <ion-row>        
        <ion-card *ngFor="let type of stocktypes">
          <ion-card-header style="font-weight: bold;">
            {{type.stock_Type_Name}}: R {{type.stock_Type_Total | number }}
          </ion-card-header>
          <ng-container *ngIf="type.stock_Type_Total > 0 then Sales; else NoSales"></ng-container>
          <ng-template #Sales>
            <ion-card-content *ngFor="let control of type.controlbreak" >            
              <label>{{control.stock_Item_Name}}: R {{control.total_Amount | number }}</label>
            </ion-card-content>  
          </ng-template>
          <ng-template #NoSales style="text-align: center;">
             <p style="text-align: center;">No sales</p> 
          </ng-template>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
