<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-stock</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="content">
      <form [formGroup]="AddStockForm"> 
      
        <ion-item>
          <ion-label position="stacked">Stock Item Name</ion-label><br>
          <ion-input type="text" formControlName="Stock_Item_Name" placeholder="" required></ion-input>
        </ion-item> 
    
        <ion-item>
          <ion-label position="stacked">Stock Item Price</ion-label><br>
          <ion-input type="text" formControlName="Stock_Item_Price" placeholder="" required></ion-input>
        </ion-item> 
    
        <ion-item>
          <ion-label position="stacked">Stock Item Size</ion-label><br>
          <ion-input type="text" formControlName="Stock_Item_Size" placeholder="" required></ion-input>
        </ion-item> 
    
        <!-- Stock Type -->
        <ion-item>
          <ion-label position="stacked">Stock Item Type</ion-label><br>
          <ion-select placeholder="Select a Stock Type" formControlName="Stock_Type_ID">
            <div slot="label">Stock Types <ion-text color="danger">(Required)</ion-text></div>
            <ion-select-option *ngFor="let types of stocktypes" value="{{types.stock_Type_ID}}" >
              {{types.stock_Type_Name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
  
        <!-- Stock Colour -->
        <ion-item>
          <ion-label position="stacked">Stock Item Colour</ion-label><br>
          <ion-select placeholder="Select a Stock Item Colour" formControlName="Stock_Item_Colour_ID">
            <div slot="label">Stock Item Colour <ion-text color="danger">(Required)</ion-text></div>
            <ion-select-option *ngFor="let colours of stockitemcolours" value="{{colours.stock_Item_Colour_ID}}" >
              {{colours.stock_Item_Colour_Name}}
            </ion-select-option>
          </ion-select>
        </ion-item> 
        
        <!-- Stock Image -->
        <ion-item>
          <ion-label position="stacked">Stock Item Image</ion-label><br>
          <ion-select placeholder="Select a Stock Item Image" formControlName="Stock_Image_ID">
            <div slot="label">Stock Item Image<ion-text color="danger">(Required)</ion-text></div>
            <ion-select-option *ngFor="let image of stockimages" value="{{image.stock_Image_ID}}" >
              {{image.stock_Image_Name}}
              <!-- <img src='data:image/png;base64,{{image.stock_Image_Name}}'> -->
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="AddStockItem()"> Add Item </ion-button>
      </form>
    
    <p style="color: red;">Add item to inventory during stock take</p>
    <p style="color: red;">Due to Key restrictions please do not add stock item in the same session as 
      selected colour, type or image upload </p>
  </ion-content>
  

</ion-content>
