<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Verification code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Verification Code</ion-label>
    <ion-input [(ngModel)]="verificationCode" type="password"></ion-input><!--[(ngModel)]="verificationCode"-->
  </ion-item>
  <ion-button expand="full" (click)="verifyCode()">Verify</ion-button>
  <br>
  <img src="/assets/otp.jpg" alt="security icon" class="center" style="width: 50%; height: 70%;" />
</ion-content>

<ion-modal [isOpen]="isPassModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelpassmodal()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirmpassmodal()" [disabled]="passwordform.invalid" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="passwordform" >
        <!--<ion-item>
          <ion-label position="stacked">Enter current password</ion-label><br>
          <ion-input type="password" formControlName="oldpassword" placeholder="" required></ion-input>
        </ion-item>-->
        <ion-item>
          <ion-label position="stacked">Enter new password</ion-label><br>
          <ion-input type="password" formControlName="newpassword" placeholder=""  required></ion-input>
        </ion-item>
        <div class="text-center" *ngIf="f['newpassword'].invalid && f['newpassword'].touched">
          <p style="color: crimson;" class="small mt-1" *ngIf="f['newpassword'].errors?.['required']">
            New password is required!</p>
          <p style="color: crimson;" class="small mt-1" *ngIf="f['newpassword'].errors?.['pattern']">
            Password must contain minimum of 8 characters,at least one uppercase letter,at least one
            lowercase letter
            ,at least one number and at least one special character</p>
        </div>
        <ion-item>
          <ion-label position="stacked">Confirm new password</ion-label><br>
          <ion-input type="password" formControlName="confirmpassword" placeholder=""  required></ion-input>
        </ion-item> 
        <div style="color: crimson;" *ngIf="passwordform.hasError('passwordMismatch')">
          Passwords do not match.
        </div>
         
    </form>
    </ion-content>
  </ng-template>
</ion-modal>