<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Write Offs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">write-off</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="content">
    <p  >
      <ion-icon name="chevron-back-outline" (click)="inventoryNav()" style="cursor:pointer;"></ion-icon>Inventory
      <ion-icon name="chevron-back-outline" (click)="stocktakeNav()" style="cursor:pointer;"></ion-icon>Stock Take
    </p>
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;">Product Name</ion-col>
        <ion-col style="font-weight: bold;">Write Off Reason</ion-col>
        <ion-col style="font-weight: bold;">Quantity Written Off</ion-col>
        <ion-col style="font-weight: bold;">Write Off Date</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of writeoffs">
        <ion-col>{{item.stock_Item_Name}}</ion-col>
        <ion-col>{{item.write_Off_Reason}}</ion-col>
        <ion-col>{{item.write_Off_Quantity}}</ion-col>
        <ion-col>{{item.write_Off_Date}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
