<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>saleperproduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">saleperproduct</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ng-container *ngIf="sales.length > 0 then Sales; else NoSales"></ng-container> -->
    <!-- <div id="htmlData">    
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;"> Customer </ion-col>
        <ion-col style="font-weight: bold;"> Amount Paid </ion-col>
        <ion-col style="font-weight: bold;"> Quantity </ion-col>
        <ion-col style="font-weight: bold;"> Date Paid </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of sales">
        <ion-col> {{item.customer_UserName}} </ion-col>
        <ion-col> R {{item.payment_Amount}}.00 </ion-col>
        <ion-col> {{item.sale_Quantity}} </ion-col>
        <ion-col> {{item.sale_Date}} </ion-col>
        <ion-col><ion-button>Add To Best Seller</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</ion-content>
