<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Product Trend Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ProductTrends</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="openPDF()">Download Trend Chart</ion-button>
  <ion-grid>
    <ion-row >
      <ion-col offset="2" sizeLg="10" sizeMd="10" sizeXs="10">
        <div id="TrendsData" class="chart-container"  style="width: 80%;">
          <canvas id="MyChart" >{{ chart }}</canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
