
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Checkout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Order Items -->
    <ion-item-divider>
      Order Items
    </ion-item-divider>
    <ion-item *ngFor="let item of basketItems">
    {{item.stock_Item.stock_Item_Name}}  - R{{item.stock_Item.stock_Item_Price}}
    </ion-item>
    
    <!-- Address Form -->
    <ion-item-divider>
      Address Information
    </ion-item-divider>
    
    <ion-item>
      <ion-label position="floating">Street</ion-label>
      <ion-input [(ngModel)]="order.deliveryAddress.streetName" required></ion-input>
    </ion-item>
   <ion-item>
      <ion-label position="floating">Street Number</ion-label>
      <ion-input [(ngModel)]="order.deliveryAddress.streetNumber" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input [(ngModel)]="order.deliveryAddress.city" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Area Code</ion-label>
      <ion-input [(ngModel)]="order.deliveryAddress.areaCode" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Province</ion-label>
      <ion-input [(ngModel)]="order.deliveryAddress.province" required></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input [(ngModel)]="order.deliveryAddress.country" required></ion-input>
    </ion-item>

  </ion-list>

  <!-- Checkout Button -->
  <ion-button expand="full" (click)="proceedToPayFast()">Checkout</ion-button>
</ion-content>

