<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
      <ion-card-title>
        <div style="text-align: center;">
          <div class="heading-container">
            <h1 class="animated-heading">Let's Get Personal</h1>
          </div>
        </div>
      </ion-card-title>
    </ion-card-header>
  
  <ion-card-content>
    <ion-card>
      <div>
        <img src="/assets/gift.jpg" alt="Gifting Shop" style="width: 100%;" />
      </div>
    </ion-card>
    <ion-card>
      <h1>Welcome to It's Personal!!</h1>
      <br />
      <h2>
        At It's Personal, we believe that every gift and product should be as unique as the person receiving it. Our
        passion for creativity and individuality led us to establish this one-of-a-kind product personalization
        business.
      </h2>
      <br /><br />
      <b>Our Story:</b>
      <p>
        Founded in 2022, "It's Personal" started as a humble dream in the heart of a couple who's minds shared a
        common goal – to make gifting more meaningful and memorable. We recognized that generic, mass-produced items
        lacked that personal touch, and we were determined to change that.

        From our modest beginnings in a small workshop, we have grown into a leading name in the industry. Our
        dedication to excellence and commitment to customer satisfaction have allowed us to forge lasting connections
        with countless happy customers worldwide.
      </p>
      <br>
      <b>What Sets Us Apart:</b>
      <p>
        At It's Personal, we are more than just a business; we are creators, artists, and dreamers who delight in
        transforming ordinary products into cherished keepsakes. What sets us apart is our ability to turn your ideas
        into reality. Whether it's a heartfelt message, a cherished photograph, or a custom design, we take great
        pride in crafting personalized products that touch hearts and leave lasting impressions.
      </p>
      <br />
      <b>Our Extensive Product Range:</b>
      <p>
        We have carefully curated an extensive product range to cater to all your personalization needs. From timeless
        classics like personalized mugs, and apparel to unique custom-made decor pieces, tech accessories, and
        stationery – we offer an array of options to suit every occasion and celebration.
      </p>
      <br />
      <b>Quality Craftsmanship:</b>
      <p>
        Quality is at the core of everything we do. We meticulously source the finest materials and employ skilled
        artisans who pour their heart and soul into each creation. Our state-of-the-art technology ensures precision
        and attention to detail, guaranteeing that every personalized product is a masterpiece in itself.
      </p>
      <br />
      <b>Customer Experience:</b>
      <p>
        At It's Personal, customer satisfaction is our utmost priority. Our dedicated support team is always ready to
        assist you throughout your personalized journey. From helping you choose the perfect design to ensuring timely
        delivery, we go the extra mile to make your experience with us seamless and enjoyable.
      </p>
      <br />
      <b>Embrace the Power of Personalization:</b>
      <p>
        We invite you to join us on this exciting journey of creative expression and heartfelt connections. Whether
        you're celebrating a special milestone, expressing your love and appreciation, or simply treating yourself,
        PersonalizeIt is here to help you make every moment unforgettable.
      </p>
      <p>
        <br /><br />
        <b>Thank you for being a part of our story. Together, let's celebrate the joy of personalization!
        </b>
      </p>
      <p><b>With love and creativity,</b></p>

      <p><b>It's Personal!</b>
      </p>
    </ion-card>
      <div>
        <img src="/assets/Couple.jpeg" alt="Our Client's Image" style="width: 50%;" sizes="50vh"/><!--Our Client's Image-->
      </div>
    
  </ion-card-content>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>