.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: palevioletred;
    background-color: whitesmoke;
  }
  
  .animated-heading {
    font-size: 100px;
    animation: bounceIn 1s ease infinite;
  }
  
  @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  }

  ion-card {
    margin: 20px;
  }
  
  ion-card-title {
    font-weight: bold;
  }
  
  ion-card-content p {
    margin-bottom: 10px;
  }

/* Media query for smaller screens (adjust breakpoints as needed) */
@media screen and (max-width: 768px) {
  ion-card-header {
    /* Adjust the font size and padding for smaller screens */
    font-size: 16px; /* Adjust the font size */
    padding: 10px;   /* Adjust padding */
  }
}

/* Media query for even smaller screens (adjust breakpoints as needed) */
@media screen and (max-width: 480px) {
  ion-card-header {
    /* Further adjust styles for even smaller screens */
    font-size: 14px; /* Adjust the font size */
    padding: 8px;    /* Adjust padding */
  }
}
