<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Order Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">order-requests</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="openPDF()" >Download Order Request PDF</ion-button>
  <div id="htmlOrderRequestData">
    <ion-grid>
      <ion-row>
        <ion-col style="font-weight: bold;"> Order ID </ion-col>
        <ion-col style="font-weight: bold;"> Customer </ion-col>
        <ion-col style="font-weight: bold;"> Address </ion-col>
        <ion-col style="font-weight: bold;"> Delivery Company </ion-col>
        <ion-col style="font-weight: bold;"> Product </ion-col>
        <ion-col style="font-weight: bold;"> Quantity </ion-col>
        <ion-col style="font-weight: bold;"> Product Size </ion-col>
        <ion-col style="font-weight: bold;"> Product Colour </ion-col>
        <ion-col style="font-weight: bold;"> Design Image </ion-col>
        <ion-col style="font-weight: bold;"> Design Text </ion-col>
        <ion-col style="font-weight: bold;"> Date Requested </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of orderRequests">
        <ion-col> {{item.order_Line_Item_ID}} </ion-col>
        <ion-col> {{item.customer_UserName}} </ion-col>
        <ion-col> {{item.streetNumber}}, {{item.streetName}}, {{item.city}}, {{item.province}}</ion-col>
        <ion-col> {{item.delivery_Company_Name}} </ion-col>
        <ion-col> {{item.stock_Item_Name}} </ion-col>
        <ion-col> {{item.order_Line_Item_Quantity}} </ion-col>
        <ion-col> {{item.stock_Item_Size}} </ion-col>
        <ion-col> {{item.stock_Colour_Name}} </ion-col>      
        <ion-col> <img src='data:image/png;base64,{{item.image_File}}'> </ion-col>
        <ion-col> {{item.design_Text}} </ion-col>
        <ion-col> {{item.order_Request_Date}} </ion-col>
        <ion-col><ion-button (click)="AcceptOrder(item.order_Line_Item_ID)" >Accept</ion-button></ion-col>
        <ion-col><ion-button (click)="DeclineOrder(item.order_Line_Item_ID)">Decline</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
