<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Order Requests</ion-title>
    <ion-button slot="end" (click)="HelpAlert()">Help</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">order-requests</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="orderRequests.length == 0">
    <div class="col-12 text-center" style="padding-top: 3cm; margin-left: 2.5cm;">
      <p style="text-align: center;">No New Order Requests</p><br>
     <img src="/assets/no-results.png" alt="empty icon" class="center"  id="icon" />
    </div>
  </ion-content>

  <ion-content *ngIf="orderRequests.length>0">
  <ion-button (click)="generatePDF()" >Download Order Request PDF</ion-button>
  <div id="htmlOrderRequestData">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Customer </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Address </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2"style="font-weight: bold; text-align: center;"> Delivery Company </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Product </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2"style="font-weight: bold; text-align: center;"> Quantity </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Product Size </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Product Colour </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Design Image </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Design Text </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"> Date Requested </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="font-weight: bold; text-align: center;"></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of orderRequests">
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.customer_UserName}} </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.streetNumber}} {{item.streetName}}, {{item.city}}, {{item.province}}</ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.delivery_Company_Name}} </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.stock_Item_Name}} </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.order_Line_Item_Quantity}} </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.stock_Item_Size}} </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.stock_Colour_Name}} </ion-col>      
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> <img src='data:image/png;base64,{{item.image_File}}'> </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> {{item.design_Text}} </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"> 
          {{item.order_Request_Date | date: 'yyyy-MM-dd'}}  </ion-col>
        <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="text-align: center;"><ion-button (click)="AcceptOrder(item.order_Line_Item_ID)">In Progress</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
  
</ion-content>
