<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-title>Stationary</ion-title>
      
        <ion-button (click)="clothing()"> Let's Get Dressed </ion-button>
      <ion-button (click)="drinking()"> Let's Get Drinking </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Let's Get Working</ion-title>      
    </ion-toolbar>
  </ion-header>
  <ion-grid id="grid">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Diary</ion-card-title>
          <ion-card-content>
            <ion-img src="/assets/stat1.jpg" ></ion-img>
            <p>Baige</p>
            <p>R: 100</p>
          </ion-card-content>
        </ion-card>
        <ion-button (click)="addToBasket()">Add To Basket</ion-button>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Pencils</ion-card-title>
          <ion-card-content>
            <ion-img src="/assets/stat2.jpg" ></ion-img>
            <p>Multi-colours</p>
            <p>R: 70</p>
          </ion-card-content>
        </ion-card>
        <ion-button (click)="addToBasket()">Add To Basket</ion-button>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Notebook</ion-card-title>
          <ion-card-content>
            <ion-img src="/assets/stat3.jpg"></ion-img>
            <p>Pink</p>
            <p>R: 150</p>
          </ion-card-content>
        </ion-card>
        <ion-button (click)="addToBasket()">Add To Basket</ion-button>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Cards</ion-card-title>
          <ion-card-content>
            <ion-img src="/assets/stat4.jpg"></ion-img>
            <p>White</p>
            <p>R: 50</p>
          </ion-card-content>
        </ion-card>
        <ion-button (click)="addToBasket()">Add To Basket</ion-button>
      </ion-col>
      <ion-col>
      <ion-card>
          <ion-card-title>Wallet</ion-card-title>
          <ion-card-content>
            <ion-img src="/assets/stat5.jpg"></ion-img>
            <p>Black</p>
            <p>R: 110</p>
          </ion-card-content>
        </ion-card>
        <ion-button (click)="addToBasket()">Add To Basket</ion-button>
      </ion-col>
    </ion-row>


    
  </ion-grid>
  <ion-button (click)="Basket()" color="success">Basket<ion-icon slot="end" name="star"></ion-icon></ion-button>
  <ion-button (click)="shopall()" fill="clear"> Back </ion-button>
</ion-content>
