<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-title>Stationary</ion-title>
      
        <ion-button (click)="clothing()"> Let's Get Dressed </ion-button>
      <ion-button (click)="drinking()"> Let's Get Drinking </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Let's Get Working</ion-title>      
    </ion-toolbar>
  </ion-header>
  <ion-grid id="grid">
    <ion-row>
      <ion-col *ngFor="let item of stockItems">
        <ion-card>
          <ion-card-title>{{item.stock_Item_Name}}</ion-card-title>
          <ion-card-content>
            <ion-img src={{item.stock_Images.stock_Image_File}}></ion-img>
            <p>{{item.stock_Item_Colour.stock_Item_Colour_Name}}</p>
            <p>R: {{item.stock_Item_Price}}</p>
          </ion-card-content> <ion-button (click)="addToBasket(item)">Add To Basket</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="Basket()" color="success">Basket<ion-icon slot="end" name="star"></ion-icon></ion-button>
  <ion-button (click)="shopall()" fill="clear"> Back </ion-button>
</ion-content>
